.gradient-custom {
    /*background-color: antiquewhite;*/

}

.addtocart_img {
    width: 45px;
}

.addtocart_btn {
    width: 40px;
    height: 35px;

}

. card_body {
    gap: 10px;
    display: grid;
}

.remove {
    color: white;
}

.card-header{
    /*background-color: #5070b7;*/
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #5070b7), color-stop(100, #70EAFF));
    background: -moz-linear-gradient(top left, #5070b7 0%, #70EAFF 100%);
    background: -ms-linear-gradient(top left, #5070b7 0%, #70EAFF 100%);
    background: -o-linear-gradient(top left,#5070b7 0%, #70EAFF 100%);
    background: linear-gradient(to bottom right, #5070b7 0%, #70EAFF 100%);
    border-radius:5px 5px 0 0 ;
    padding: 20px;
    color: #f6f6f6;
}

.freeshipping{
    border-bottom: 1px solid gray;
}

/**************************************************************/



.btn.btn-out {
    outline: 1px solid #fff;
    outline-offset: -5px
}



.btn-light {
    color: #ffffff;
    background-color: #e11c1c;
    border-color: #f8f9fa;
    font-size: 12px;
    height: 32px;
}

.btn-light:hover {
    color: #ffffff;
    background-color: #F44336;
    border-color: #F44336
}

.btn-apply {
    font-size: 11px
}

