. gradient-custom-3 {

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))

}

.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: left;
    /*margin-top: 20px;*/

    /*background-image: url("https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp");*/

}

.Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0/ 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 20px;
    background-color: white
}

.Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
    margin-bottom: 40px;
}

.Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);


}
.pass-wrapper {
    position: relative;
    display: flex;
    margin-bottom: 14px;
}

 i {
    position: absolute;
    right: 10px;
    top: 10px;
}
 i:hover {
    color: black;
    cursor: pointer;
}
.login_btn{
    text-decoration: none;
    color: white;
}
.login_btn:hover{
    color: white;
}
